body {
    font-family: Poppins;
    background-color: #f5f5f5;
    color: #264653;
}
.nome {
    height: auto;
    background-color: #FFA500;
    font-size: 25px;
}
.sobre {
    font-family: sans-serif;
    font-style: italic;
    font-size: 20px;
    color: #264653;
    
}

.nacionalidade {
    font-style: italic;
    font-weight: 60;
}

.habi_tittle{
    font-size: 30px;
    font-weight: bolder;
}

.habi_1{
    font-size: 20px;
}

.habi_2{
    font-size: 23px;
}

.habi_3{
    font-size: 26px;
}

.habi_4{
    font-size: 29px;
    font-weight: bold;
}

.nome {
    height: auto;
    background-color: #FFA500;
}

.foto {
    float: left;
    width: auto;

}